.roomsTxt{
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  color: #957554;
  padding: 100px 0px 56px 0px;
}
.rooms{
  display:grid;
  grid-template-columns: repeat(2,630px);
  grid-template-rows: repeat(2,500px);
  grid-gap: 61px;
}
.twinRoom{
  background-image: url("../../media/twinRoom.png");
}
.standartRoom{
  background-image: url("../../media/standartRoom.png");
}
.viewRoom{
  background-image: url("../../media/viewRoom.png");
}
.deluxeRoom{
  background-image: url("../../media/DeluxeRoom.png");
}
.roomdesc{
  margin-right: 3px;
  margin-top: 240px;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
}
.roomBut{
  margin-top: 30px;
  width: 244px;
  height: 76px;
  background: #DFAA5B;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.bookTxt{
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  color: #957554;
  padding: 114px 0px 38px 0px;
}
.bookBut{
  margin-top: 30px;
  width: 418px;
  height: 76px;
  background: #DFAA5B;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}