.center{
  display: flex;
  justify-content: center;
  align-items:center;
}
.space{
  font-family: 'Ubuntu';
  color: #957554;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 52px 48px 25px 0px;
}
.logo{
  padding:31px 0px 0px 0px;
}
.HotelsSearch{
  background: #111111;
  width: 1441px;
  height: 119px;
}
.form{
  padding: 19px 17px 19px 17px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
}
.AvailableBut{
  padding: 19px 18px 19px 18px;
  background: #DFAA5B;
  border-radius: 10px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.spaceItem{
  padding: 0px 0px 0px 27px;
}
.spaceCalendar{
  padding: 0px 0px 0px 65px;
}
.spaceInputs{
  padding: 0px 0px 0px 65px;
}
.InputRow{
  display:grid;
  grid-template-columns: repeat(4,212px);
  grid-gap: 13px;
}
.MainPic{
  width: 1441px;
  height: 790px;
  background-image: url("../../media/hotel.png");
  margin-top: -13px;
}
@font-face { font-family: SegoeUI; src: url('../../fonts/SegoeUI.ttf'); }
.centerColumn{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.welcomingPhrase{
  width: 987px;
  height: 106px;
  margin-left: 20px;
  margin-top: 130px;
  font-family: SegoeUI;
  font-weight: 700;
  font-size: 80px;
  line-height: 106px;
  color: #FFFFFF;
}
.mainText{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.exploreBut{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background: #DFAA5B;
  border-radius: 10px;
  width: 371px;
  height: 76px;
  margin-top: 45px;
}
.facilities{
  margin-top:-149px;
  width: 1319px;
  height: 289px;
  background: #FFFFFF;
  border-radius: 10px;
}
.facText{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  color: #957554;
  padding: 0px 0px 20px 0px;
}
.facServices{
  display:grid;
  grid-template-columns: repeat(5,84px);
  grid-gap: 141px;
  padding: 40px 0px 0px 0px;
}
.facServiceTxt{
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #957554;
}
.roomsTxt{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  color: #957554;
  padding: 100px 0px 56px 0px;
}
.rooms{
  display:grid;
  grid-template-columns: repeat(2,630px);
  grid-template-rows: repeat(2,500px);
  grid-gap: 61px;
}
.twinRoom{
  background-image: url("../../media/twinRoom.png");
}
.standartRoom{
  background-image: url("../../media/standartRoom.png");
}
.viewRoom{
  background-image: url("../../media/viewRoom.png");
}
.deluxeRoom{
  background-image: url("../../media/DeluxeRoom.png");
}
.roomdesc{
  margin-right: 3px;
  margin-top: 240px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
}
.roomBut{
  margin-top: 30px;
  width: 244px;
  height: 76px;
  background: #DFAA5B;
  border-radius: 10px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.bookTxt{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  color: #957554;
  padding: 114px 0px 38px 0px;
}
.bookBut{
  margin-top: 30px;
  width: 418px;
  height: 76px;
  background: #DFAA5B;
  border-radius: 10px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.footer{
  margin-top: 112px;
  width: 1440px;
  height: 469px;
  background: #111111;
  display:grid;
  grid-template-columns: 263px 194px 371px;
  grid-gap: 232px 251px;
}
.footerIMtxt{
  margin-top: 68px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.footerItxt{
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footerTxt{
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 0px 0px 28px 0px;
}
.subscribeText{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom:24px;
}
.subscribeInput{
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.5);
  width: 371px;
  height: 75px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom:24px;
}
.subscribeBut{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background: #DFAA5B;
  border-radius: 10px;
  width: 371px;
  height: 75px;
}

