.logo{
  padding:31px 0px 0px 0px;
}
.space{
  color: #957554;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 52px 48px 25px 0px;
}
.space:hover{
  text-decoration: underline;
  cursor: pointer;
}
.space:active{
  color: #d79e4e;
}
.loupe{
margin-bottom:24px;
}

@media screen and (max-width: 360px) {
  .space{
    color: #957554;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 0px 5px 0px;
  }
}